<html>
    <body>
        <div class="navbar">
            <img src="../../assets/images/Capture1.PNG" id="logo">
            <a routerLink="/front" routerLinkActive="active">Logout</a>
            <a style="background-color:teal; margin-top:3px;margin-bottom:3px;" href="#group">Create a Group</a>
          <a routerLink="/about-us" routerLinkActive="active">AboutUs</a>
          <a routerLink="/interests" routerLinkActive="active">Explore</a>
          <a routerLink="/front" routerLinkActive="active">Home</a>
          </div><br><br>
          <div style="height:100px">
              <p class="steps">
                We’ll walk you through a few steps to build your local community
              </p><br>
              <button mat-raised-button class="btn btn-primary"  ><a class="link" routerLink="/Form" routerLinkActive="active">Get Started</a>
            </button>
          </div><br><br><br><br>
          <div class="bg"><br>
              <p class="div2">
                People start Meetup groups to make new friends, pursue passions,<br> and turn side hustles into careers.  
              </p><br>
              <marquee behavior="scroll" width="100%" direction="right" height="300px" scrollamount="18">
                <table>
                    <tr>
                        <td>
                            <img  src="../../assets/images/marquee_1.webp" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img  src="../../assets/images/marquee_2.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img  src="../../assets/images/marquee_3.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img  src="../../assets/images/marquee_4.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img src="../../assets/images/marquee_5.png" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img  src="../../assets/images/marquee_6.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img src="../../assets/images/marquee_7.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img src="../../assets/images/marquee_8.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img  src="../../assets/images/marquee_9.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img src="../../assets/images/marquee_10.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img src="../../assets/images/marquee_11.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img  src="../../assets/images/marquee_12.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img src="../../assets/images/marquee_13.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img src="../../assets/images/marquee_14.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img  src="../../assets/images/marquee_15.jpg" style="width:450px;height:350px;">
                        </td>
                        <td>
                            <img src="../../assets/images/marquee_16.jpg" style="width:450px;height:350px;">
                        </td>
                       
                    </tr>
                </table>
            </marquee><br>
          </div>
          <br>
          <section class="second">
            <br><br><br>
                        <p class="pmain">Organise it Yourself</p>
                        <div class="divsecond1">
                            <img src="../../assets/images/oragnize1.PNG" class="imgsecond">
                            <p class="pdiv">Find New Members</p>
                           
                        </div>
                        <div class="divsecond2">
                            <img src="../../assets/images/organize2.PNG" class="imgsecond">
                            <p class="pdiv">Schedule event anytime</p>
                            
             
                        </div>
                        <div class="divsecond3">
                            <img src="../../assets/images/organize3.PNG" class="imgsecond">
                            <p class="pdiv">Have Others Help</p>
                            
                        </div>
                        
                        
                    </section>
                    <br><br><br>
          <div class="section3">
              <br><br>
            <p class="div2">
                What would you like your group to do?             
             </p><br><br>
             <table class="t">
                <tr>
                    &nbsp;&nbsp;
                    <td height="50%" width="50%">
                        <img class="what"  src="../../assets/images/what_1.jpg" style="width:450px;height:300px;">
                      <br><br> <a class="link" routerLink="/Form" routerLinkActive="active"class="hang">Start a Group that Hangs out</a>
                 </td>
                    &nbsp;&nbsp;&nbsp;
                    <td height="50%" width="50%">
                        <img class="what" src="../../assets/images/marquee_10.jpg" style="width:450px;height:300px;">
                        <br><br><a class="link" routerLink="/Form" routerLinkActive="active"class="hang">Start a Group that learns</a>
                    </td>
                    </tr>
                    </table>
          </div>
          
              <section class="second">
                <br><br><br>
                            <p class="pmain">How to get Started</p>
                            <p class="pmain2">(Here's an overview)</p>
                            <div class="divsecond1">
                                <img src="../../assets/images/start1.PNG" class="imgthird">
                                <p class="pdiv">Create Group</p>
                               
                            </div>
                            <div class="divsecond2">
                                <img src="../../assets/images/start2.PNG" class="imgthird">
                                <p class="pdiv">Review and Submit</p>
                                
                 
                            </div>
                            <div class="divsecond3">
                                <img src="../../assets/images/start3.PNG" class="imgthird">
                                <p class="pdiv">Plan Your Event</p>
                                
                            </div>
                            
                            
                        </section><br><br>
          <div class="last">
            <table class="t">
                <tr>
                    &nbsp;&nbsp;
                    <td height="50%" width="50%">
                         <p id="lastp">Lets find the people you're looking for.</p>
                 </td>
                    
                   
                    <td height="50%" width="50%">
                        <button mat-raised-button class="btn3 btn-primary" ><a class="link" routerLink="/Form" routerLinkActive="active">Start a group</a>
                        </button>
                    </td>
                    </tr>
                    </table>

          </div>
          <div class="footer-main-div">
            <!-- <p>Contact Us on</p> -->
      <p id="foot"><img src="../../assets/images/footer.PNG"></p>
            <div class="footer-social-icons">
              <ul>
                  <br>
                <!-- <li><a href="https://github.com/dikshagupta27" target="_blank"><i class="fa fa-github"></i></a></li> -->
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://github.com/Lipakshi-Arora" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <br>
              <p class="copywrite">
                Copyright ©2020 No rights reserved!
              </p>
            </div>
          </div>  

    </body>
</html>
