<html>
    <body >
      <div class="navbar">
        <img src="../../assets/images/Capture1.PNG" id="logo">
        <a routerLink="/front" routerLinkActive="active">Logout</a>
        <a style="background-color:teal; margin-top:3px;margin-bottom:3px;" href="#explore">Explore</a>
      <a routerLink="/about-us" routerLinkActive="active">AboutUs</a>
      <a routerLink="/front" routerLinkActive="active">Home</a>
      <a routerLink="/CreateGroup" routerLinkActive="active">Create a Group</a>
      </div>
      
        <table class="tab">
          
            <tr>
                <td>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="../../assets/images/dance.jfif" alt="Avatar" style="width:300px;height:200px;">
                          </div>
                          <div class="flip-card-back">
                            <p class="def">Dance</p>
                          </div>
                        </div>
                      </div>
                </td>
                <td>
                  <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img  src="../../assets/images/outdoors.jpg" alt="Avatar" style="width:300px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                          <p class="def">Outdoor<br>&<br>Adventures</p>
                        </div>
                      </div>
                    </div>
              </td>
              <td>
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../assets/images/food&drinks.jpg" alt="Avatar" style="width:300px;height:200px;">
                      </div>
                      <div class="flip-card-back">
                        <p class="def">Food<br>&<br>Drinks</p>
                      </div>
                    </div>
                  </div>
            </td>
            
          </tr>
          <br>
          <tr>
          <td>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="../../assets/images/writing.jpg" alt="Avatar" style="width:300px;height:200px;">
                  </div>
                  <div class="flip-card-back">
                    <p class="def">Writing</p>
                  </div>
                </div>
              </div>
        </td>
        <td>
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../assets/images/fitness.png" alt="Avatar" style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                  <p class="def">Fitness</p>
                </div>
              </div>
            </div>
      </td>
      <td>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/fashion.jpg" alt="Avatar" style="width:300px;height:200px;">
              </div>
              <div class="flip-card-back">
                <p class="def">Makeup<br>&<br>fashion</p>
              </div>
            </div>
          </div>
    </td>
        </tr>
        <br>
        <tr>
          <td>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="../../assets/images/music.jfif" alt="Avatar" style="width:300px;height:200px;">
                  </div>
                  <div class="flip-card-back">
                    <p class="def">Music</p>
                  </div>
                </div>
              </div>
        </td>
        <td>
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../assets/images/art.jpg" alt="Avatar" style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                  <p class="def">Art<br>&<br>Craft</p>
                </div>
              </div>
            </div>
      </td>
      <td>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/photographu.jpeg" alt="Avatar" style="width:300px;height:200px;">
              </div>
              <div class="flip-card-back">
                <p class="def">Photography</p>
              </div>
            </div>
          </div>
    </td>
        </tr>
        </table><br><br><br><br><br><br>
        <div class="footer-main-div">
          <!-- <p>Contact Us on</p> -->
    <p id="foot"><img src="../../assets/images/footer.PNG"></p>
          <div class="footer-social-icons">
            <ul>
                <br>
              <!-- <li><a href="https://github.com/dikshagupta27" target="_blank"><i class="fa fa-github"></i></a></li> -->
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://github.com/Lipakshi-Arora" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <br>
            <p class="copywrite">
              Copyright ©2020 No rights reserved!
            </p>
          </div>
        </div>  
    </body>
</html>
