<html>
    <body>
      <div class="navbar">
        <img src="../../assets/images/Capture1.PNG" id="logo">
        <a routerLink="/LoginSignup" routerLinkActive="active">Login</a>
        <a style="background-color:teal; margin-top:3px;margin-bottom:3px;"  href="#aboutus">AboutUs</a> 
      <a routerLink="/front" routerLinkActive="active">Home</a>
     
      </div>
<div class="main">
    <img id="slide" src="../../assets/images/food_game.jpg" >
    <p class="centered1"><b>About Us</b></p>
  </div>
  <div id="slit"></div>
  <div id="second">
    <table >
      <tr>
        <td height="50%" width="50%">
          <img src="../../assets/images/img_06.JPG" alt="food8"  height="85%" width="100%" />
        </td>
        <td height="50%" width="50%">
            
       </td>
      </tr>
      <tr>
        <td height="50%" width="50%">
          <p text-align="center" id="display"><b>Our <br>Location</b> </p>
          <br><br><br>
          <p text-align="center" id="display1">
            SCO:124-125<br><br>
            Sector-34,Chandigarh<br><br>
            Monday-Friday: 10:00A.M- 8:00 P.M <br>
            Saturday: 10:00A.M- 1:00 P.M <br>
            Sunday: Closed<br>
          </p>
        </td>
        <td height="50%" width="50%">
            <img src="../../assets/images/food_game2.jpg" alt="food10"  height="55%" width="100%"/>
          
        </td>
      </tr>
     <tr>
        <td height="50%" width="50%">
          <img src="../../assets/images/main.jpg" alt="food10"  height="100%" width="100%"/>
        </td>
        <td height="50%" width="50%">
          <p text-align="center" id="display"><b>Contact <br>Us</b> </p>
          <br>
          <p id="display1"><p text-align="center">Tel: 0172-2674632<br>
          Email: meetup@mysite.com<br></p>
          <form >
              <input id="inpt_text1" type="text" name="firstname" placeholder="Enter your name" required />
              <br><br>
              <input id="inpt_text1" type="text" name="lastname" placeholder="Enter your email id" required />
              <br><br>
              <textarea  id="textboxid2" name="message" rows="3" cols="30" placeholder="Message...!!"  ></textarea><br><br>
              <button onclick="alert('Details Submitted !')" class="btn_feedback" name="submit" value="Submit">Send</button>

          </form>
       </td>
      </tr>
      
      </table>
      <br><br><br>
      <div class="footer-main-div">
        <div class="footer-social-icons">
          <ul>
            <li><a href="https://github.com/dikshagupta27" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/Lipakshi-Arora" target="_blank"><i class="fa fa-github"></i></a></li>
      
      
          </ul>
        </div>
      </div>
  </div>
    </body>
    </html>