<html>
    <head></head>
    <body>
        
      <div class="navbar">
        <img src="../../assets/images/Capture1.PNG" id="logo">
        <a routerLink="/front" routerLinkActive="active">Logout</a>
        <a style="background-color:teal; margin-top:3px;margin-bottom:3px;" href="#explore">Explore</a>
      <a routerLink="/about-us" routerLinkActive="active">AboutUs</a>
      <a routerLink="/front" routerLinkActive="active">Home</a>
      <a routerLink="/CreateGroup" routerLinkActive="active">Create a Group</a>
      </div>
            
        <table >
                
            <tr>
              <td height="33%" width="33%">
                <div>
                    <p class="friend"><img class="img1" src="../../assets/images/friends.jfif"></p>
                </div>
                </td>
              <td height="33%" width="33%">
                <div >
                    <p class="heading"><img src="../../assets/images/reason.PNG"></p>
                
                </div>
                <br><br>
                
                    <tr><button   class="btn" mat-stroked-button ><a routerLink="/activities" routerLinkActive="active">Develop a skill</a></button></tr><br>
                    <tr><button   class="btn" mat-stroked-button ><a routerLink="/activities" routerLinkActive="active">Explore new place</a></button></tr><br>
                    <tr><button class="btn" mat-stroked-button ><a routerLink="/activities" routerLinkActive="active">Be more active</a></button></tr><br>
                    <tr><button    class="btn" mat-stroked-button ><a routerLink="/activities" routerLinkActive="active">Meet people</a></button></tr><br>
                    
                    <tr><button   class="btn" mat-stroked-button ><a routerLink="/reviews" routerLinkActive="active">Check Reviews</a></button></tr><br>
                    <tr><button   class="btn" mat-stroked-button ><a routerLink="/activities" routerLinkActive="active">Something else</a></button></tr><br>
                
              </td>
              <td height="33%" width="33%">
                <div>
                    <p class="right_img"><img class="img2" src="../../assets/images/right3.jpg"></p>
                </div>
                </td>
              </tr>
              </table> 
              <div class="footer-main-div">
                <!-- <p>Contact Us on</p> -->
          <p id="foot"><img src="../../assets/images/footer.PNG"></p>
                <div class="footer-social-icons">
                  <ul>
                      <br>
                    <!-- <li><a href="https://github.com/dikshagupta27" target="_blank"><i class="fa fa-github"></i></a></li> -->
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://github.com/Lipakshi-Arora" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                  <br>
                  <p class="copywrite">
                    Copyright ©2020 No rights reserved!
                  </p>
                </div>
              </div>  
    </body>
</html>