<html>
  <head></head>
  <body>
<div class="navbar">
  <img src="../../assets/images/Capture1.PNG" id="logo">
  
<a routerLink="/about-us" routerLinkActive="active">AboutUs</a>
<a style="background-color:teal; margin-top:3px;margin-bottom:3px;" href="#home">Home</a> 
</div>

<div>
<div class="hero-image">
<div class="wrapper">
  <button class="button"><a routerLink="/LoginSignup" routerLinkActive="active"><b>Login/Signup</b></a></button>
</div>
</div>
</div>

<section class="second">
<br><br><br>
            <p class="pmain"><img src="../../assets/images/heading.PNG"></p>
            <div class="divsecond1">
                <img src="../../assets/images/explore2.png" class="imgsecond">
                <p><img src="../../assets/images/city.PNG"></p>
            </div>
            <div class="divsecond2">
                <img src="../../assets/images/idea.png" class="imgsecond">
                <p><img src="../../assets/images/creative_head.PNG"></p>
 
            </div>
            <div class="divsecond3">
                <img src="../../assets/images/concert.png" class="imgsecond">
                <p><img src="../../assets/images/enjoy.PNG"></p>
            </div>
            <div class="divsecond4">
                <img src="../../assets/images/conversation.png" class="imgsecond">
                <p><img src="../../assets/images/connect.PNG"></p>
            </div>
            
        </section>
        <div class="section3">
          <p class="h">How Meetup Works</p>
          <div class="divsecond1">
            <img src="../../assets/images/search.PNG" class="imgsecond">
            <p class="divsecond6"><b>Discover groups</b><br>
              See who’s hosting local events for all the things you love.</p>
              <p class="link1"><a routerLink="/LoginSignup" routerLinkActive="active" style="color: skyblue;" href>Join Meetup</a></p>
        </div>
        <div class="divsecond5">
            <img src="../../assets/images/add.PNG" class="imgsecond">
            <p class="divsecond7"><b>Start a group</b>
              Create your own Meetup group, and discover.</p>
              <p class="link2"><a  routerLink="/LoginSignup" routerLinkActive="active" style="color: skyblue;" href>Get Started</a></p>

        </div>
        </div>
        <div class="footer-main-div">
        <!-- <p>Contact Us on</p> -->
<p id="foot"><img src="../../assets/images/footer.PNG"></p>
        <div class="footer-social-icons">
          <ul>
              <br>
            <!-- <li><a href="https://github.com/dikshagupta27" target="_blank"><i class="fa fa-github"></i></a></li> -->
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/Lipakshi-Arora" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <br>
          <p class="copywrite">
            Copyright ©2020 No rights reserved!
          </p>
        </div>
      </div>
      </body>
      </html>

